<h1><%= @task.title %></h1>

<%= link_to "Edit Task", edit_task_path(@task)%>

<div>
  <p><%= @task.details%></p>
</div>
<div>
  <% if @task.completed %>
    <p>This task is completed<p>
  <% else %>
    <p>This task is not yet completed</p>
<% end %>
</div>
